/* ================================= 
  Article Colours
==================================== */

#acard1 {
  .read-more {
    background-color: $light-tele;

    &:hover {
      background-color: $dark-tele;
    }
  }

  h5 {
    color: $light-tele;
  }

  a:hover {
    text-decoration-color: $light-tele;;
  }

  .absolnm {
    background: $light-tele;

    &:hover {
      background: $dark-tele;
    }
  }
}

#acard2 {
  .read-more {
    background-color: $light-it;

    &:hover {
      background-color: $dark-it;
    }
  }

  h5 {
    color: $light-it;
  }

  a:hover {
    text-decoration-color: $light-it;
  }

  .absolnm {
    background: $light-it;

    &:hover {
      background: $dark-it;
    }
  }
}

#acard3 {
  .read-more {
    background-color: $light-web;

    &:hover {
      background-color: $dark-web;
    }
  }

  h5 {
    color: $light-web;
  }

  a:hover {
    text-decoration-color: $light-web;
  }

  .absolnm {
    background: $light-web;

    &:hover {
      background: $dark-web;
    }
  }
}










