/* ================================= 
  Article Colours
==================================== */

#acard1 {
  .read-more {
    background-color: #d64541;

    &:hover {
      background-color: #c42e2a;
    }
  }

  h5 {
    color: #d64541;
  }

  a:hover {
    text-decoration-color: #d64541;;
  }

  .absolnm {
    background: #d64541;

    &:hover {
      background: #c42e2a;
    }
  }
}

#acard2 {
  .read-more {
    background-color: #4183d7;

    &:hover {
      background-color: #2A6EC6;
    }
  }

  h5 {
    color: #4183d7;
  }

  a:hover {
    text-decoration-color: #4183d7;
  }

  .absolnm {
    background: #4183d7;

    &:hover {
      background: #2A6EC6;
    }
  }
}

#acard3 {
  .read-more {
    background-color: #926fb1;

    &:hover {
      background-color: #79539a;
    }
  }

  h5 {
    color: #926fb1;
  }

  a:hover {
    text-decoration-color: #926fb1;
  }

  .absolnm {
    background: #926fb1;

    &:hover {
      background: #79539a;
    }
  }
}










