/* ================================= 
  Card Colours
==================================== */

#webcard {
    .read-more {
      background-color: #926fb1;
    }
  
    &:hover {
      background-color: #926fb1;
  
      .icircle {
        color: #926fb1;
        background-color: white;
      }
  
      .read-more {
        color: #926fb1;
        background-color: white;
      }
    }
  }
  
  #itcard {
    .read-more {
      background-color: #4183D7;
    }
  
    &:hover {
      background-color: #4183D7;
  
      .icircle {
        color: #4183D7;
        background-color: white;
      }
  
      .read-more {
        color: #4183D7;
        background-color: white;
      }
    }
  }
  
  #telcard {
    .read-more {
      background-color: #d64541;
    }
  
    &:hover {
      background-color: #d64541;
  
      .icircle {
        color: #d64541;
        background-color: white;
      }
  
      .read-more {
        color: #d64541;
        background-color: white;
      }
    }
  }
  
  #telcard1 {
    .read-more {
      background-color: #d64541;
    }
  
    &:hover {
      background-color: #d64541;
  
      .icircle {
        color: #d64541;
        background-color: white;
      }
  
      .read-more {
        color: #d64541;
        background-color: white;
      }
    }
  }
  
  #bescard {
    .read-more {
      background-color: #67809f;
    }
  
    &:hover {
      background-color: #67809f;
  
      .icircle {
        color: #67809f;
        background-color: white;
      }
  
      .read-more {
        p {
          color: #67809f;
        }
        color: #67809f;
        background-color: white;
      }
    }
  }
  
  #bescard1 {
    .read-more {
      background-color: #67809f;
    }
  
    &:hover {
      background-color: #67809f;
  
      .icircle {
        color: #67809f;
        background-color: white;
      }
  
      .read-more {
        p {
          color: #67809f;
        }
        color: #67809f;
        background-color: white;
      }
    }
  }
  
  #digcard {
    .read-more {
      background-color: #2ecc71;
    }
  
    &:hover {
      background-color: #2ecc71;
  
      .icircle {
        color: #2ecc71;
        background-color: white;
      }
  
      .read-more {
        color: #2ecc71;
        background-color: white;
      }
    }
  }
  
  #digcard1 {
    .read-more {
      background-color: #2ecc71;
    }
  
    &:hover {
      background-color: #2ecc71;
  
      .icircle {
        color: #2ecc71;
        background-color: white;
      }
  
      .read-more {
        color: #2ecc71;
        background-color: white;
      }
    }
  }
  
  #cybercard {
    .read-more {
      background-color: #f63459;
    }
  
    &:hover {
      background-color: #f63459;
  
      .icircle {
        color: #f63459;
        background-color: white;
      }
  
      .read-more {
        color: #f63459;
        background-color: white;
      }
    }
  }
  
  #cybercard1 {
    .read-more {
      background-color: #f63459;
    }
  
    &:hover {
      background-color: #f63459;
  
      .icircle {
        color: #f63459;
        background-color: white;
      }
  
      .read-more {
        color: #f63459;
        background-color: white;
      }
    }
  }