/* ================================= 
  Card Colours
==================================== */

#webcard {
    .read-more {
      background-color: $light-web;
    }
  
    &:hover {
      background-color: $light-web;
  
      .icircle {
        color: $light-web;
        background-color: white;
      }
  
      .read-more {
        color: $light-web;
        background-color: white;
      }
    }
  }
  
  #itcard {
    .read-more {
      background-color: $light-it;
    }
  
    &:hover {
      background-color: $light-it;
  
      .icircle {
        color: $light-it;
        background-color: white;
      }
  
      .read-more {
        color: $light-it;
        background-color: white;
      }
    }
  }
  
  #telcard {
    .read-more {
      background-color: $light-tele;
    }
  
    &:hover {
      background-color: $light-tele;
  
      .icircle {
        color: $light-tele;
        background-color: white;
      }
  
      .read-more {
        color: $light-tele;
        background-color: white;
      }
    }
  }
  
  #telcard1 {
    .read-more {
      background-color: $light-tele;
    }
  
    &:hover {
      background-color: $light-tele;
  
      .icircle {
        color: $light-tele;
        background-color: white;
      }
  
      .read-more {
        color: $light-tele;
        background-color: white;
      }
    }
  }
  
  #bescard {
    .read-more {
      background-color: $light-besp;
    }
  
    &:hover {
      background-color: $light-besp;
  
      .icircle {
        color: $light-besp;
        background-color: white;
      }
  
      .read-more {
        p {
          color: $light-besp;
        }
        color: $light-besp;
        background-color: white;
      }
    }
  }
  
  #bescard1 {
    .read-more {
      background-color: $light-besp;
    }
  
    &:hover {
      background-color: $light-besp;
  
      .icircle {
        color: $light-besp;
        background-color: white;
      }
  
      .read-more {
        p {
          color: $light-besp;
        }
        color: $light-besp;
        background-color: white;
      }
    }
  }
  
  #digcard {
    .read-more {
      background-color: $light-digi;
    }
  
    &:hover {
      background-color: $light-digi;
  
      .icircle {
        color: $light-digi;
        background-color: white;
      }
  
      .read-more {
        color: $light-digi;
        background-color: white;
      }
    }
  }
  
  #digcard1 {
    .read-more {
      background-color: $light-digi;
    }
  
    &:hover {
      background-color: $light-digi;
  
      .icircle {
        color: $light-digi;
        background-color: white;
      }
  
      .read-more {
        color: $light-digi;
        background-color: white;
      }
    }
  }
  
  #cybercard {
    .read-more {
      background-color: $light-cyber;
    }
  
    &:hover {
      background-color: $light-cyber;
  
      .icircle {
        color: $light-cyber;
        background-color: white;
      }
  
      .read-more {
        color: $light-cyber;
        background-color: white;
      }
    }
  }
  
  #cybercard1 {
    .read-more {
      background-color: $light-cyber;
    }
  
    &:hover {
      background-color: $light-cyber;
  
      .icircle {
        color: $light-cyber;
        background-color: white;
      }
  
      .read-more {
        color: $light-cyber;
        background-color: white;
      }
    }
  }