$light-web: #926fb1;
$dark-web: #79539a;

$light-it: #4183D7;
$dark-it: #2A6EC6;

$light-tele: #d64541;
$dark-tele: #c42e2a;

$light-besp: #67809f;
$dark-besp: #526681;

$light-digi: #2ecc71;
$dark-digi: #25a25a;

$light-cyber: #f63459;
$dark-cyber: #de093f;

$light-contact: #999AA2;
$dark-contact: #84858F;

$borderone: #1C1E26;
$bordertwo: #262834;
$borderthree: #31333E;
$borderfour: #484A58;

$backgroundhover: #22242E;
$backgroundsm: #262834;
$backgroundone: #333645;
$backgroundtwo: #3D404E;

$shadow-colour: #CCC;

$tooltip-bg: #474A57;