.nmform {
    width: 1170px;
    margin: 2rem auto;
}

.formtext {
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 0.05rem;
    color: $backgroundhover;
}

.formtext::after {
    content: " *";
    font-weight: normal;
    color: red;
}


.nmsubmit {
    padding: 0.75rem 0.875rem 0.75rem 0.95rem;
    color: $backgroundone;
    font-size: 1.05rem;
    border-radius: 3px;
    letter-spacing: 0.0375rem;
    background-color: white;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        background-color: #ebebeb;
    }

}