/* ================================= 
  Footer
==================================== */

.links {
  font-size: 0.875rem;
  padding: 3rem 0 1.5rem;
  background-color: $backgroundone;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;

  a {
    color: white;
  }

  h4 {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  address {
    margin-bottom: 1.25rem;
  }
}

.linkblock {
  vertical-align: text-top;
  align-items: center;
  justify-content: center;
}

#contactnm {
  margin-bottom: 3rem;
}

#aboutnm {
  margin-bottom: 1.5rem;
}