/* ================================= 
  Icon Backgrounds
==================================== */

#codeb {
    background-color: $light-web;
  }
  
  #deskb {
    background-color: $light-it;
  }
  
  .phoneb {
    background-color: $light-tele;
  }
  
  .gridb {
    background-color: $light-besp;
  }
  
  .sigb {
    background-color: $light-digi;
  }
  
  .shieldb {
    background-color: $light-cyber;
  }