/* ================================= 
  Icon Backgrounds
==================================== */

#codeb {
    background-color: #926fb1;
  }
  
  #deskb {
    background-color: #4183D7;
  }
  
  .phoneb {
    background-color: #d64541;
  }
  
  .gridb {
    background-color: #67809f;
  }
  
  .sigb {
    background-color: #2ecc71;
  }
  
  .shieldb {
    background-color: #f63459;
  }