/* ================================= 
  Navigation Drop-Down Menu
==================================== */

.hovermenu {
    display: none;
  }
  
  ul {
    list-style: none;
  
    .dashnm:before {
      content: '-';
      padding-left: 1.5rem;
    }
  }