/* ================================= 
  Navbar Colours
==================================== */

.navcode {
  color: #926fb1;
}

.navdesk {
  color: #4183D7;
}

.navphone {
  color: #d64541;
}

.navgrid {
  color: #67809f;
}

.navsig {
  color: #2ecc71;
}

.navshield {
  color: #f63459;
}