/* ================================= 
  Navbar Colours
==================================== */

.navcode {
  color: $light-web;
}

.navdesk {
  color: $light-it;
}

.navphone {
  color: $light-tele;
}

.navgrid {
  color: $light-besp;
}

.navsig {
  color: $light-digi;
}

.navshield {
  color: $light-cyber;
}