/* ================================= 
  Navbar Hover Colours
==================================== */
.nmborder {
  .webdesign {
    &:hover {
      background-color: $light-web;
  
      .navcode {
        color: white;
      }
    }
  }
  
  .itsupport {
    &:hover {
      background-color: $light-it;
  
      .navdesk {
        color: white;
      }
    }
  }
  
  .telecoms {
    &:hover {
      background-color: $light-tele;
  
      .navphone {
        color: white;
      }
    }
  }
  
  .bespoke {
    &:hover {
      background-color: $light-besp;
  
      .navgrid {
        color: white;
      }
    }
  }
  
  .marketing {
    &:hover {
      background-color: $light-digi;
  
      .navsig {
        color: white;
      }
    }
  }
  
  .cyber {
    &:hover {
      background-color: $light-cyber;
  
      .navshield {
        color: white;
      }
    }
  }
}
