@import "bpone";
@import "bptwo";
@import "bpthree";
  
/* ================================= 
  MAX WIDTH QUERIES
==================================== */

@media (max-width: 602px) {
  #logo {
    width: 71.5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 465px) { //For Mobile L
  #logo {
    width: 61%;
  }
}

@media (max-width: 424px) { //For Mobile M
  #logo {
    width: 56%;
  }
}

@media (max-width: 374px) { //For Mobile S
  #logo {
    width: 49%;
  }
}

@media (max-width: 465px) { //For Mobile L
  .bcontainer {
    padding-top: 27vh;
  }
}

@media (max-width: 424px) { //For Mobile M
  .bcontainer {
    padding-top: 27vh;
  }
}

@media (max-width: 374px) { //For Mobile S
  .bcontainer {
    padding-top: 25vh;
  }
}